Babel==2.8.0
certifi==2020.6.20
cycler==0.10.0
kiwisolver==1.2.0
matplotlib==3.2.2
numpy==1.19.0
pandas==1.0.5
Pillow==8.2.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
scipy==1.5.2
seaborn==0.10.1
six==1.15.0
tkcalendar==1.6.1
wincertstore==0.2
xlrd==1.2.0
